In [1]:
import pandas as pd

In [2]:
fitbit_df = pd.read_csv('fitbit_data.csv')

In [3]:
step_df = pd.read_csv('steps_data.csv')

In [4]:
fitbit_df

,Id,ActivityDate,ActivityDay,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Unnamed: 16,Unnamed: 17
0,1503960366,4/12/2016,Tue,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985,NaN,Tue
1,1503960366,4/13/2016,Wed,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797,NaN,Wed
2,1503960366,4/14/2016,Thu,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776,NaN,Thu
3,1503960366,4/15/2016,Fri,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745,NaN,Fri
4,1503960366,4/16/2016,Sat,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863,NaN,Sat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,Sun,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847,NaN,Sun
936,8877689391,5/9/2016,Mon,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710,NaN,Mon
937,8877689391,5/10/2016,Tue,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832,NaN,Tue
938,8877689391,5/11/2016,Wed,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832,NaN,Wed
939,8877689391,5/12/2016,Thu,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849,NaN,Thu

In [7]:
fitbit_df["Id"].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       3372868164, 3977333714, 4020332650, 4057192912, 4319703577,
       4388161847, 4445114986, 4558609924, 4702921684, 5553957443,
       5577150313, 6117666160, 6290855005, 6775888955, 6962181067,
       7007744171, 7086361926, 8053475328, 8253242879, 8378563200,
       8583815059, 8792009665, 8877689391])

In [8]:
step_df

,Date,Step Count,Distance Travelled,Active Time,Flights Climbed,Goal,Percentage of Goal Completed,Calories
0,3/17/2021,1500,1.02 km,23:14 min,3,10000,15%,64
1,3/18/2021,3165,2.23 km,44:56 min,2,10000,32%,134
2,3/19/2021,1494,1.08 km,24:51 min,0,10000,15%,68
3,3/20/2021,1808,1.27 km,30:04 min,1,10000,18%,81
4,3/21/2021,2667,1.78 km,30:57 min,3,10000,27%,103
...,...,...,...,...,...,...,...,...
521,9/19/2022,1665,1.14 km,26:09 min,1,3500,48%,72
522,9/20/2022,3676,2.62 km,52:05 min,0,3500,105%,157
523,9/21/2022,444,0.32 km,7:25 min,0,3500,13%,20
524,9/22/2022,506,0.35 km,8:19 min,0,3500,14%,22
525,9/23/2022,414,0.29 km,6:51 min,0,10000,4%,19

In [9]:
fitbit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   ActivityDay               940 non-null    object
 3   TotalSteps                940 non-null    int64
 4   TotalDistance             940 non-null    float64
 5   TrackerDistance           940 non-null    float64
 6   LoggedActivitiesDistance  940 non-null    float64
 7   VeryActiveDistance        940 non-null    float64
 8   ModeratelyActiveDistance  940 non-null    float64
 9   LightActiveDistance       940 non-null    float64
 10  SedentaryActiveDistance   940 non-null    float64
 11  VeryActiveMinutes         940 non-null    int64
 12  FairlyActiveMinutes       940 non-null    int64
 13  LightlyActiveMinutes      940 non-null    int64
 14  SedentaryMinutes          940 non-null    int64
 15  Calories                  940 non-null    int64
 16  Unnamed: 16               0 non-null      float64
 17  Unnamed: 17               940 non-null    object
dtypes: float64(8), int64(7), object(3)
memory usage: 132.3+ KB

In [49]:
mean_steps = fitbit_flushed_data["TotalSteps"].mean()

fitbit_irregular_values = fitbit_df.loc[fitbit_df["TotalSteps"] == 0]

fitbit_irregular_values["TotalSteps"] = fitbit_irregular_values['TotalSteps'].replace(0, mean_steps)

/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/1348413811.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitbit_irregular_values["TotalSteps"] = fitbit_irregular_values['TotalSteps'].replace(0, mean_steps)

In [50]:
fitbit_irregular_values.TotalSteps.unique()

array([8523.33847981])

In [51]:
fitbit_irregular_values

,Id,ActivityDate,ActivityDay,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
30,1503960366,5/12/2016,Thu,8523.33848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0
104,1844505072,4/24/2016,Sun,8523.33848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1347
105,1844505072,4/25/2016,Mon,8523.33848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1347
106,1844505072,4/26/2016,Tue,8523.33848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1347
112,1844505072,5/2/2016,Mon,8523.33848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,8792009665,5/6/2016,Fri,8523.33848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1688
905,8792009665,5/7/2016,Sat,8523.33848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1688
906,8792009665,5/8/2016,Sun,8523.33848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1688
907,8792009665,5/9/2016,Mon,8523.33848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1688
908,8792009665,5/10/2016,Tue,8523.33848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,48,57

In [19]:
fitbit_df.head()

,Id,ActivityDate,ActivityDay,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,Tue,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,Wed,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,Thu,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,Fri,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,Sat,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [54]:
fitbit_zero_values = fitbit_df.loc[fitbit_df["TotalSteps"] < 500]

In [57]:
fitbit_zero_values.columns

Index(['Id', 'ActivityDate', 'ActivityDay', 'TotalSteps', 'TotalDistance',
       'TrackerDistance', 'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories'],
      dtype='object')

In [58]:
fitbit_zero_values[['TotalSteps', 'TotalDistance',
       'TrackerDistance', 'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories']] = 0

/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/3430058465.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitbit_zero_values[['TotalSteps', 'TotalDistance',

In [72]:
fitbit_zero_values.head()

,Id,ActivityDate,ActivityDay,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
30,1503960366,5/12/2016,Thu,8523.33848,6.126247,6.110226,0.120761,1.67753,0.633492,3.727494,0.001793,23.585511,15.12114,215.024941,948.63658,2379.74228
99,1844505072,4/19/2016,Tue,8523.33848,6.126247,6.110226,0.120761,1.67753,0.633492,3.727494,0.001793,23.585511,15.12114,215.024941,948.63658,2379.74228
100,1844505072,4/20/2016,Wed,8523.33848,6.126247,6.110226,0.120761,1.67753,0.633492,3.727494,0.001793,23.585511,15.12114,215.024941,948.63658,2379.74228
104,1844505072,4/24/2016,Sun,8523.33848,6.126247,6.110226,0.120761,1.67753,0.633492,3.727494,0.001793,23.585511,15.12114,215.024941,948.63658,2379.74228
105,1844505072,4/25/2016,Mon,8523.33848,6.126247,6.110226,0.120761,1.67753,0.633492,3.727494,0.001793,23.585511,15.12114,215.024941,948.63658,2379.74228

In [63]:
fitbit_zero_values.TotalSteps = fitbit_flushed_data.TotalSteps.mean()
fitbit_zero_values.TotalDistance = fitbit_flushed_data.TotalDistance.mean()
fitbit_zero_values.TrackerDistance = fitbit_flushed_data.TrackerDistance.mean()
fitbit_zero_values.LoggedActivitiesDistance = fitbit_flushed_data.LoggedActivitiesDistance.mean()
fitbit_zero_values.VeryActiveDistance = fitbit_flushed_data.VeryActiveDistance.mean()
fitbit_zero_values.ModeratelyActiveDistance = fitbit_flushed_data.ModeratelyActiveDistance.mean()
fitbit_zero_values.LightActiveDistance = fitbit_flushed_data.LightActiveDistance.mean()
fitbit_zero_values.SedentaryActiveDistance = fitbit_flushed_data.SedentaryActiveDistance.mean()
fitbit_zero_values.VeryActiveMinutes = fitbit_flushed_data.VeryActiveMinutes.mean()
fitbit_zero_values.FairlyActiveMinutes = fitbit_flushed_data.FairlyActiveMinutes.mean()
fitbit_zero_values.LightlyActiveMinutes = fitbit_flushed_data.LightlyActiveMinutes.mean()
fitbit_zero_values.SedentaryMinutes = fitbit_flushed_data.SedentaryMinutes.mean()
fitbit_zero_values.Calories = fitbit_flushed_data.Calories.mean()

/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/2463513255.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitbit_zero_values.TotalSteps = fitbit_flushed_data.TotalSteps.mean()
/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/2463513255.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitbit_zero_values.TotalDistance = fitbit_flushed_data.TotalDistance.mean()
/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/2463513255.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitbit_zero_values.TrackerDistance = fitbit_flushed_data.TrackerDistance.mean()
/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/2463513255.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitbit_zero_values.LoggedActivitiesDistance = fitbit_flushed_data.LoggedActivitiesDistance.mean()
/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/2463513255.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitbit_zero_values.VeryActiveDistance = fitbit_flushed_data.VeryActiveDistance.mean()
/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/2463513255.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitbit_zero_values.ModeratelyActiveDistance = fitbit_flushed_data.ModeratelyActiveDistance.mean()
/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/2463513255.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitbit_zero_values.LightActiveDistance = fitbit_flushed_data.LightActiveDistance.mean()
/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/2463513255.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitbit_zero_values.SedentaryActiveDistance = fitbit_flushed_data.SedentaryActiveDistance.mean()
/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/2463513255.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitbit_zero_values.VeryActiveMinutes = fitbit_flushed_data.VeryActiveMinutes.mean()
/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/2463513255.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitbit_zero_values.FairlyActiveMinutes = fitbit_flushed_data.FairlyActiveMinutes.mean()
/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/2463513255.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitbit_zero_values.LightlyActiveMinutes = fitbit_flushed_data.LightlyActiveMinutes.mean()
/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/2463513255.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitbit_zero_values.SedentaryMinutes = fitbit_flushed_data.SedentaryMinutes.mean()
/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/2463513255.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitbit_zero_values.Calories = fitbit_flushed_data.Calories.mean()

In [31]:
fitbit_flushed_data = fitbit_df.drop(fitbit_df[fitbit_df['TotalSteps'] < 500].index)

In [53]:
fitbit_flushed_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 939
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        842 non-null    int64
 1   ActivityDate              842 non-null    object
 2   ActivityDay               842 non-null    object
 3   TotalSteps                842 non-null    int64
 4   TotalDistance             842 non-null    float64
 5   TrackerDistance           842 non-null    float64
 6   LoggedActivitiesDistance  842 non-null    float64
 7   VeryActiveDistance        842 non-null    float64
 8   ModeratelyActiveDistance  842 non-null    float64
 9   LightActiveDistance       842 non-null    float64
 10  SedentaryActiveDistance   842 non-null    float64
 11  VeryActiveMinutes         842 non-null    int64
 12  FairlyActiveMinutes       842 non-null    int64
 13  LightlyActiveMinutes      842 non-null    int64
 14  SedentaryMinutes          842 non-null    int64
 15  Calories                  842 non-null    int64
dtypes: float64(7), int64(7), object(2)
memory usage: 111.8+ KB

In [76]:
fitbit_flushed_data.VeryActiveDistance.describe()

count    842.00000
mean       1.67753
std        2.75685
min        0.00000
25%        0.00000
50%        0.47000
75%        2.32500
max       21.92000
Name: VeryActiveDistance, dtype: float64

In [70]:
fitbit_mean_data = pd.merge(fitbit_flushed_data, fitbit_zero_values, how='outer')

/var/folders/5n/drthnqmd4bx8v0w3q9zm841m0000gn/T/ipykernel_12260/2021359692.py:1: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  fitbit_mean_data = pd.merge(fitbit_flushed_data, fitbit_zero_values,  how='outer')

In [73]:
fitbit_mean_data.to_csv('fitbit_mean_data_cleaned.csv', index=True)

In [74]:
fitbit_flushed_data.to_csv('fitbit_flushed_data.csv', index=True)

In [77]:
fitbit_mean_data.loc[fitbit_df["VeryActiveDistance"] > 0]

,Id,ActivityDate,ActivityDay,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,Tue,13162.00000,8.500000,8.500000,0.000000,1.88000,0.550000,6.060000,0.000000,25.000000,13.00000,328.000000,728.00000,1985.00000
1,1503960366,4/13/2016,Wed,10735.00000,6.970000,6.970000,0.000000,1.57000,0.690000,4.710000,0.000000,21.000000,19.00000,217.000000,776.00000,1797.00000
2,1503960366,4/14/2016,Thu,10460.00000,6.740000,6.740000,0.000000,2.44000,0.400000,3.910000,0.000000,30.000000,11.00000,181.000000,1218.00000,1776.00000
3,1503960366,4/15/2016,Fri,9762.00000,6.280000,6.280000,0.000000,2.14000,1.260000,2.830000,0.000000,29.000000,34.00000,209.000000,726.00000,1745.00000
4,1503960366,4/16/2016,Sat,12669.00000,8.160000,8.160000,0.000000,2.71000,0.410000,5.040000,0.000000,36.000000,10.00000,221.000000,773.00000,1863.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8792009665,5/6/2016,Fri,8523.33848,6.126247,6.110226,0.120761,1.67753,0.633492,3.727494,0.001793,23.585511,15.12114,215.024941,948.63658,2379.74228
936,8792009665,5/7/2016,Sat,8523.33848,6.126247,6.110226,0.120761,1.67753,0.633492,3.727494,0.001793,23.585511,15.12114,215.024941,948.63658,2379.74228
937,8792009665,5/8/2016,Sun,8523.33848,6.126247,6.110226,0.120761,1.67753,0.633492,3.727494,0.001793,23.585511,15.12114,215.024941,948.63658,2379.74228
938,8792009665,5/9/2016,Mon,8523.33848,6.126247,6.110226,0.120761,1.67753,0.633492,3.727494,0.001793,23.585511,15.12114,215.024941,948.63658,2379.74228
939,8792009665,5/10/2016,Tue,8523.33848,6.126247,6.110226,0.120761,1.67753,0.633492,3.727494,0.001793,23.585511,15.12114,215.024941,948.63658,2379.74228

In [21]:
fitbit_df.describe()

,Id,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
count,9.400000e+02,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000
mean,4.855407e+09,7637.910638,5.489702,5.475351,0.108171,1.502681,0.567543,3.340819,0.001606,21.164894,13.564894,192.812766,991.210638,2303.609574
std,2.424805e+09,5087.150742,3.924606,3.907276,0.619897,2.658941,0.883580,2.040655,0.007346,32.844803,19.987404,109.174700,301.267437,718.166862
min,1.503960e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.320127e+09,3789.750000,2.620000,2.620000,0.000000,0.000000,0.000000,1.945000,0.000000,0.000000,0.000000,127.000000,729.750000,1828.500000
50%,4.445115e+09,7405.500000,5.245000,5.245000,0.000000,0.210000,0.240000,3.365000,0.000000,4.000000,6.000000,199.000000,1057.500000,2134.000000
75%,6.962181e+09,10727.000000,7.712500,7.710000,0.000000,2.052500,0.800000,4.782500,0.000000,32.000000,19.000000,264.000000,1229.500000,2793.250000
max,8.877689e+09,36019.000000,28.030001,28.030001,4.942142,21.920000,6.480000,10.710000,0.110000,210.000000,143.000000,518.000000,1440.000000,4900.000000

In [13]:
fitbit_df.columns

Index(['Id', 'ActivityDate', 'ActivityDay', 'TotalSteps', 'TotalDistance',
       'TrackerDistance', 'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories', 'Unnamed: 16',
       'Unnamed: 17'],
      dtype='object')

In [ ]:
axis=1, inplace=True

In [16]:
fitbit_df.drop('Unnamed: 16', axis=1, inplace=True)

In [17]:
fitbit_df.drop('Unnamed: 17', axis=1, inplace=True)

In [18]:
fitbit_df.columns

Index(['Id', 'ActivityDate', 'ActivityDay', 'TotalSteps', 'TotalDistance',
       'TrackerDistance', 'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories'],
      dtype='object')

In [1]:
fitbit_flushed_data.info()

NameError: name 'fitbit_flushed_data' is not defined